/* Importações globais e estilos básicos */
@use '@angular/material' as mat;

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$custom-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #F22222, // cor principal
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  )
);

/* Tema com a cor primaria personalizada */
$my-primary: mat.define-palette($custom-red, 500);
$my-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

// 2. Crie o objeto de tema
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 4,
));

// 3. Inclua os estilos base do Material
@include mat.core();

// 4. Aplique o tema a todos os componentes
@include mat.all-component-themes($my-theme);

/* Estilos globais adicionais */
.mat-typography {
  // Garante que a tipografia do Material seja aplicada
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
